In [1]:
import pandas as pd

url="https://drive.google.com/file/d/1-3keIu5qKAT7EIfa89cUCXfpn0O9mba5/view?usp=sharing"
path='https://drive.google.com/uc?id='+url.split('/')[-2]
df=pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  162 non-null    int64
 1   taxi_address                162 non-null    object
 2   taxi_number_of_vehicles     162 non-null    int64
 3   taxi_phone                  162 non-null    object
 4   taxi_reservation            161 non-null    object
 5   taxi_app_service            91 non-null     object
 6   taxi_weekday_book_start     162 non-null    object
 7   taxi_weekday_book_end       162 non-null    object
 8   taxi_weekend_book_start     162 non-null    object
 9   taxi_weekend_book_end       162 non-null    object
 10  taxi_weekday_service_start  162 non-null    object
 11  taxi_weekday_service_end    162 non-null    object
 12  taxi_weekend_service_start  162 non-null    object
 13  taxi_weekend_service_end    162 non-null    object
 14  taxi_book_period            162 non-null    object
 15  차량이용제한사항                    99 non-null     object
 16  taxi_in_area                155 non-null    object
 17  taxi_out_area               154 non-null    object
 18  taxi_target                 162 non-null    object
 19  taxi_fee                    162 non-null    object
 20  관리기관명                       162 non-null    object
 21  taxi_agency_phone           162 non-null    object
 22  데이터기준일자                     162 non-null    object
 23  제공기관코드                      162 non-null    object
 24  제공기관명                       162 non-null    object
dtypes: int64(2), object(23)
memory usage: 31.8+ KB

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
db_connection_str = 'mysql+pymysql://root:E105SSAFY#nr@j7e105.p.ssafy.io/nurim'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [3]:
df.drop(['Unnamed: 0','차량이용제한사항','관리기관명','데이터기준일자','제공기관코드','제공기관명'], axis=1,inplace=True)

In [5]:
df.to_sql(name='taxi', con=conn, if_exists='replace',index=False)

162